* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ccc;
}
main {
  max-width: 800px;
  margin-top: 1rem;
  padding: 1rem;
  margin-inline: auto;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5)
}
header {
  border-bottom: 1px solid #000;
  padding-bottom: 1rem;
}
.start {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.start button {
  padding: 0.5rem 1rem;
}
.question-card {
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.question-card div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.choices {
  padding: 0.5rem 1rem;
  text-align: left;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.choices:hover {
  background-color: #444;
  color: #fff;
  cursor: pointer;
}
.choices.correct {
  background-color: green;
}
.choices.active {
  background-color: green;
}
.choices.wrong {
  background-color: red;
}
.score {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}